@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 4.71%;
		--foreground: 274 36% 99%;
		--muted: 0 0% 7.06%;
		--muted-foreground: 0 0% 54.9%;
		--popover: 0 0% 7.06%;
		--popover-foreground: 0 0% 100%;
		--card: 0 0% 5.88%;
		--card-foreground: 0 0% 100%;
		--border: 0 0% 12.16%;
		--input: 0 0% 12.16%;
		--primary: 274 87% 46%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 7.06%;
		--secondary-foreground: 274 2% 71%;
		--accent: 270 3.57% 10.98%;
		--accent-foreground: 274 2% 71%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 100%;
		--ring: 274 87% 46%;
		--chart-1: 274 87% 46%;
		--chart-2: 274 2% 11%;
		--chart-3: 274 2% 11%;
		--chart-4: 274 2% 14%;
		--chart-5: 274 90% 46%;
		--radius: 0.1rem;

		--font-inter: "Inter", sans-serif;
		--font-lexend: "Lexend", sans-serif;
		--font-fira-code: "Fira Code", monospace;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	p {
		@apply text-pretty;
	}
}
